{% extends 'paginas/modelo.html' %}

<!-- Carregar e pertimir o uso dos arquivos estáticos -->
{% load static %}

{% block conteudo %}

<h3 class="mt-3" id="titulo">Exemplo de página</h3>

<!-- Verifica se existe essa sessão com algum valor -->
{% if request.session.fazenda_pk %}
<h5>
    <!-- Acessa o valor que está na sessão -->
    Sessão fazenda: {{request.session.fazenda_pk}}
</h5>
{% endif %}

<hr>

{% if request.user.is_authenticated %}

<h5>Meus estágios ~ Orientador</h5>

<table class="table table-striped">
    <tr>
        <th>Estudante</th>
        <th>Orientador</th>
        <th>Empresa</th>
        <th>Período</th>
    </tr>

    <!-- listar os objetos do tipo estágio -->
    {% for estagio in estagios_orientador %}
    <tr>
        <td>{{ estagio.estudante }}</td>
        <td>{{ estagio.orientador }}</td>
        <td>{{ estagio.unidade_concedente }}</td>
        <td>
            {{ estagio.data_inicio|date:"d/m/Y" }} 
            - 
            {{ estagio.data_termino|date:"d/m/Y" }}
        </td>
    </tr>
    {% empty %}
    <tr>
        <th colspan="100%">Nenhum estágio encontrado.</th>
    </tr>
    {% endfor %}

</table>

<hr>

<h5>Meus estágios ~ Estudante</h5>
<table class="table table-striped">
    <tr>
        <th>Estudante</th>
        <th>Orientador</th>
        <th>Empresa</th>
        <th>Período</th>
    </tr>
    
    <!-- listar os objetos do tipo estágio -->
    {% for estagio in estagios_estudante %}
    <tr>
        <td>{{ estagio.estudante }}</td>
        <td>{{ estagio.orientador }}</td>
        <td>{{ estagio.unidade_concedente }}</td>
        <td>
            {{ estagio.data_inicio|date:"d/m/Y" }}
             - 
            {{ estagio.data_termino|date:"d/m/Y" }}</td>
    </tr>
    {% empty %}
    <tr>
        <th colspan="100%">Nenhum estágio encontrado.</th>
    </tr>
    {% endfor %}

</table>

<!-- Fim do usuário autenticado -->
{% else %}
<p>
    Faça o login ou se registre no sistema.
</p>

<button type="button" class="btn btn-dark" id="btn-login">
    Login
</button>

{% endif %}


{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
        
    $("#btn-login").click(function (e) {

        var tipo = $("#btn-login").prop("type");

        alert("Tipo do botão: " + tipo);

        $("#btn-login").prop("type", "reset");

    });

});
</script>
{% endblock %}